.App {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.board {
  margin-left: 1em;
}

.cardDescription {
  padding-top: 0.5em;
  overflow: hidden; 
  flex-grow: 1;
}

.card-vp {
  color: #007c04;
}

.boardHeader {
  display: flex;
  flex-direction: row;
}

.logContainer {
  /*display: none;*/
  min-width: 400px;
  background-color: #dddddd;
  padding-left: 1em;
  padding-right: 1em;
}

.lost {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 1em;
}

.waiting {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1em;
}

.status {
  flex-grow: 1;
  margin-left: 1em;
}

h4 {
  white-space: nowrap;
}

.boardRow {
  display: flex;
  padding: 1em;
}

.city {
  background-color: #eeeeff;
  display: flex;
}

.playerRow {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.cardLocation {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.workingArea {
  flex-grow: 1
}

.location-horizontal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 150px;
}

.cardLink {
  text-decoration: none;
  user-select: none;
  margin-bottom: 10px;
  margin-right: 0px;
}

.card {
  box-sizing: border-box;
  margin-right: 10px;
  display: flex;
  width: 150px;
  height: 200px;
  border: solid 1px black;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 10pt;
  flex-direction: column;
  justify-content: space-between;
  font-size: 8pt;
  background-color: #f0f0f0;
}

.ability-type-Instinct {
  background-color: #fceeae;
}

.ability-type-Strength {
  background-color: #d3e5d8;
}

.ability-type-Tech {
  background-color: #cccccc;
}

.ability-type-Covert {
  background-color: #e5d3d3;
}

.ability-type-Ranged {
  background-color: #ceecff;
}

.footer {
  font-size: 10pt;
}
.cardMoney {
  color: #ffc300;
}
.cardAttack {
  color: red;
}
.cardName {
  font-weight: bold;
  text-align: center;
}
.heroName {
  font-style: italic;
  text-align: center;
}

.footer {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
